<!DOCTYPE html>
<html>
  <head>
    <title>Captur3dChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">CAPTUR3D Code Challenge</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          <% if !user_signed_in? %>
            <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% else %>
            <li>
              <%=link_to user_orders_path(user_id: current_user.id) do%>
                <span class="glyphicon glyphicon-briefcase"></span> Orders
              <%end%>
            </li>
            <li><a href="/users/sign_out" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main class='container'>
      <%= flash_messages %>
      <%= yield %>
    </main>
    
  </body>
</html>
